{
margin:0;
padding:0;
box-sizing: boarder-box;
}
.mine{
height:100vh;
width:100vh;
background: rgb(237,237,237);
font-family: 'Arial' ,sans-serif;
}
nav
{
width:84;
margin:auto;
padding:20px 0;
display:flex;
align-items:right;
justify-content:center;
}
logo{
width:100px;
cursor:pointer;
}
nav ul li{
display:inline-block;
list-style:none;
margin:10px 20px;
}
nav ul li a{
text-decoration:none;
color:black;
}
nav ul li a:hover{
color:blue;
}
.info
{
margin-left:8%;
margin-top:15%;
}
.info h1{
font-size:40px;
color:#212121;
margin-bottom:20px;
}
.info h1 span
{
color:blue;
}
.info p{
color:#212121;
line-hegiht:22px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
